@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background: #76b852;

    header {
        background: #8eb878;
        padding-top: 30px;
        height: 55px;
        padding-left: 30px;
        a {
            background: #43a047;
            color: #ffffff;
            text-decoration: none;
            font-size: 14px;
            padding: 15px;
            &:hover {
                background: #4caf50;
            }
        }
        a.deco {
            background: rgb(255, 65, 65);
            &:hover {
                background: #ff0e0e;
            }
        }
    }

    section#menu {
        margin: 1em 1em 1em 1em;
        padding: 1% 1% 1% 1%;
        border: solid 1px #97ff97;
        background-color: #98ff9833;
        display: flex;
        justify-content: space-around;
        margin-bottom: 10em;
        a {
            padding: 1em 1em 1em 1em;
            text-decoration: none;
            color: #000000;
            &:hover {
                transition-duration: 1s;
                background-color: #97ff97;
                border-radius: 5px;
            }
        }
    }

    section#user {
        table,
        th,
        td {
            border: solid 1px;
            border-collapse: collapse;
        }
        table {
            border-radius: 5px;
        }
        td,
        th {
            margin: 1em 1em 1em 1em;
            padding: 1em 1em 1em 2em;
        }
    }

    button.valid {
        margin: auto;
        padding: 1% 5%;
        color: #00fe00;
        border-radius: 5px;
        background: #ffffff00;
        border: solid 1px #00fe00;
        &:hover {
            color: #ffffff;
            background-color: #97ff97;
            border-radius: 0px;
            transition-duration: 0.5s;
        }
    }

    button.delete {
        border: solid 1px #ff0000;
        color: #ff0000;
        background-color: #ffffff00;
        border-radius: 3px;
        &:hover {
            background-color: #ff0000;
            color: #ffffff;
            border-radius: 0px;
            transition-duration: 0.5s;
        }
    }
    form {
        position: relative;
        // z-index: 1;
        background: #ffffff;
        // max-width: 360px;
        width: 350px;
        margin: 0 auto 0px;
        padding: 15px;
        text-align: center;
        box-shadow: 1px 1px 20px rgb(36, 36, 36);
    }
    input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        margin: 0 0 15px;
        border: 0;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    button {
        background: #4caf50;
        color: #ffffff;
        border: 0;
        margin-left: 1%;
        font-size: 14px;
        padding: 6px;
        cursor: pointer;
        &:hover {
            background: #43a047;
        }
    }
    div.publication {
        background: #87c764;
        margin: 1%;
        img {
            margin: 1%;
        }
        p {
            margin: 1%;
        }
    }
}
