body {
    height: 100%;
    background-color: #97ff97;
}

section.ban {
    border-radius: 5px;
    border: solid 1px #ffffff;
    background-color: #d0ffd0;
    margin: 5em 18em 0em 15em;
    padding: 1% 1% 2% 1%;
    p {
        color: #ff0000;
    }
}

button.delete {
    border: solid 1px #ff0000;
    color: #ff0000;
    background-color: #ffffff00;
    border-radius: 3px;
    &:hover {
        background-color: #ff0000;
        color: #ffffff;
        border-radius: 0px;
        transition-duration: 0.5s;
    }
}