@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Roboto", sans-serif;
    height: 100vh;
    background: #76b852;

    header {
        background: #8eb878;
        padding-top: 30px;
        height: 55px;
        padding-left: 30px;
        a {
            background: #43a047;
            color: #ffffff;
            text-decoration: none;
            font-size: 14px;
            padding: 15px;
            &:hover {
                background: #4caf50;
            }
        }
        a.deco {
            background: rgb(255, 65, 65);
            &:hover {
                background: #ff0e0e;
            }
        }
    }
    main {
        padding-top: 1%;
        form {
            position: relative;
            // z-index: 1;
            background: #ffffff;
            // max-width: 360px;
            width: 350px;
            margin: 0 auto 0px;
            padding: 15px;
            text-align: center;
            box-shadow: 1px 1px 20px rgb(36, 36, 36);
        }
        input {
            font-family: "Roboto", sans-serif;
            outline: 0;
            background: #f2f2f2;
            margin: 0 0 15px;
            border: 0;
            padding: 15px;
            box-sizing: border-box;
            font-size: 14px;
        }
        button {
            background: #4caf50;
            color: #ffffff;
            border: 0;
            margin-left: 1%;
            font-size: 14px;
            padding: 6px;
            cursor: pointer;
            &:hover {
                background: #43a047;
            }
        }
        div.publication {
            background: #87c764;
            margin: 1%;
            img {
                margin: 1%;
            }
            p {
                margin: 1%;
            }
        }
    }
}
