@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

* {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    background: #76b852;

    header {
        background: #8eb878;
        padding-top: 30px;
        height: 55px;
        padding-left: 30px;
        a {
            background: #4caf50;
            color: #ffffff;
            text-decoration: none;
            font-size: 14px;
            padding: 15px;
        }
    }

    h1,
    label,
    input,
    button,
    p,
    a {
        font-family: "Roboto", sans-serif;
    }

    img {
        padding-bottom: 3%;
    }

    button {
        background: #4caf50;
        color: #ffffff;
        border: 0;
        margin-bottom: 1%;
        font-size: 14px;
        padding: 6px;
        cursor: pointer;
    }
    button:hover {
        background: #43a047;
    }

    form {
        position: relative;
        z-index: 1;
        background: #ffffff;
        max-width: 360px;
        margin: 0 auto 100px;
        padding: 45px;
        text-align: center;
        box-shadow: 1px 1px 20px rgb(36, 36, 36);
    }

    input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        margin: 0 0 15px;
        border: 0;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }

    h1 {
        margin-bottom: 5%;
    }

    .container {
        padding-top: 8%;
    }
}
